*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

/* CANVAS EM PROPORÇÃO VARIÁVEL E OCUPANDO SEMPRE A LARGURA E ALTURA MÁXIMAS DA TELA */

#main_canvas_container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}


/*BARRA DE CARREGAMENTO*/

div#prelod_static_path {            /*BARRA DE CARREGAMENTO (PARTE ESTÁTICA)*/
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    /*background-image: url(interface/fundo_carregador.jpg);*/
    background-color: #185a87;
    z-index: -2;
    background-position: center;
}

div#prelod_dynamic_path {            /*BARRA DE CARREGAMENTO (PARTE DINÂMICA)*/
    position: absolute;
    left: 0%;
    top: 0%;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

div#preloader_cont {            /*IMAGEM DE FUNDO DO CARREGAMENTO*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-image: url(interface/image_carregador.png);
    background-size: 15%;*/
    /*background-color: #37DBFF;*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    visibility: hidden;
}

#prelod_static_path > span {
    visibility: hidden;
}

div#preloader_cont > picture > img {
    position: relative;
    width: 20%;
    top: 25%;
    left: 38%;
    background-repeat: no-repeat;
    animation-name: floating; 
    animation-duration: 2s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px;
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 30%); } 
    100%   { transform: translate(0, -0px); }     
}